priority -50

snippet panelp "bootstrap panel" b
div.panel.panel-primary>(div.panel-heading>h1.panel-title.text-center)+div.panel-body${1}
endsnippet

snippet paneli "bootstrap panel" b
div.panel.panel-info>(div.panel-heading>h1.panel-title.text-center)+div.panel-body${1}
endsnippet
